[Unit]
Description=Check if wwan0 has lost its routes, and if so release and renew wwan0 DHCP lease. Check every 5 minutes

[Timer]
OnCalendar=*-*-* *:0/5:00
Persistent=true

[Install]
WantedBy=timers.target

